
@font-face {
    -fx-font-family: "Pac-Font";
    font-family: "Pac-Font";
    src: local('PAC-FONT.TTF');
}

.button {
    -fx-font-family: "Pac-Font";
    -fx-background-color: yellow;
    -fx-text-fill: blue;
    -fx-font-size: 16px;
}


.button:pressed {
    -fx-background-color: #E5E500;
}

.root {
    -fx-background-color: black;
}

.menu-button {
    -fx-font-size: 16px;
}

.level{
    -fx-alignment: center;
    -fx-scale-x: 100%;
    -fx-scale-y: 100%;
}

.info{
    -fx-background-color: yellow;
    -fx-text-fill: blue;
    -fx-font-size: 16px;
}

